---
import {
  getCollectionEntryPost,
  getLinkUrl,
  getSummary,
} from "@/util/contents";
import { render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import fs from "node:fs";
import { getPostTags } from "@/util/tags";
import { getCoverImage } from "@/constants/coverImage";
import { Image } from "astro:assets";
import StarRating from "@/components/StarRating.astro";
import AffiliateLinkParts from "@/components/AffiliateLinkParts.astro";
import { getPostFilePath } from "@/util/github";

export async function getStaticPaths() {
  const allPosts = await getCollectionEntryPost();
  return allPosts.map((post) => {
    // frontmatterのslugフィールドを優先的に使用、なければpost.slugを使用
    if (!post.data.slug) {
      console.log("slugが指定されていません");
    }
    return {
      params: { slug: post.data.slug || post.id }, // URLになる
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
const tags = getPostTags(post);
let lastModDate = post.data.lastmod;
if (!lastModDate && post.filePath) {
  const stats = fs.statSync(post.filePath);
  lastModDate = stats.mtime;
}
const imagePath = getCoverImage(post.category);
const summary = getSummary(post);
---

<BaseLayout
  pageTitle={post.data.title}
  pageDescription={summary}
  layoutType="post"
  {post}
>
  <article class="prose prose-slate card p-4 my-8">
    <header>
      <h1>{post.data.title}</h1>
      <div class="flex flex-row justify-between items-center">
        <ul class="list-none gap-2 text-sm">
          <li>
            Posted <time datetime={post.data.date.toISOString()}>
              {
                post.data.date.toLocaleDateString("ja-JP", {
                  year: "numeric",
                  month: "2-digit",
                  day: "2-digit",
                })
              }
            </time>
          </li>

          {
            lastModDate && (
              <li>
                Updated
                <time datetime={lastModDate.toISOString()}>
                  {lastModDate.toLocaleDateString("ja-JP", {
                    year: "numeric",
                    month: "2-digit",
                    day: "2-digit",
                  })}
                </time>
              </li>
            )
          }
        </ul>
        <ul class="flex flex-row gap-2 list-none">
          {
            tags?.map((tag) => (
              <li>
                <a
                  href={getLinkUrl(`/tags/${tag.url}`)}
                  class="inline-block px-3 py-1 text-sm font-medium text-slate-700 bg-slate-200 rounded-full no-underline hover:bg-slate-300 transition-colors"
                >
                  {tag.display}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <Image src={imagePath} alt={`${post.category} image`} />
      <div>
        {post.data.product?.name && <p>{post.data.product.name}</p>}
        {post.data.product?.number && <p>{post.data.product.number}</p>}
        {
          typeof post.data.product?.rate === "number" && (
            <div class="flex items-center gap-2 mb-2">
              <StarRating rate={post.data.product.rate} />
              <span class="text-sm text-slate-600">
                ({post.data.product.rate})
              </span>
            </div>
          )
        }
        {post.data.product?.comment && <p>{post.data.product.comment}</p>}
      </div>
    </header>
    <div>
      <Content />
    </div>
    <div class="mt-8">
      <a
        href={getPostFilePath(post)}
        class="inline-flex items-center justify-center gap-2"
      >
        <img src="/github_logo.svg" alt="GitHub" class="w-5 h-5 m-0" />
        <span>記事の修正リクエストを送る</span>
      </a>
    </div>
    <AffiliateLinkParts post={post} />
  </article>
</BaseLayout>
