---
import { getCollectionEntryPost, getLinkUrl } from "@/util/contents";
import { render } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import fs from "node:fs";
import { getPostTags } from "@/util/tags";

export async function getStaticPaths() {
  const allPosts = await getCollectionEntryPost();
  return allPosts.map((post) => {
    // frontmatterのslugフィールドを優先的に使用、なければpost.slugを使用
    console.log(`id=${post.id} / slug:${post.data.slug}`);
    if (!post.data.slug) {
      console.log("slugが指定されていません");
    }
    return {
      params: { slug: post.data.slug || post.id }, // URLになる
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
const tags = getPostTags(post);
let lastModDate = post.data.lastmod;
if (!lastModDate && post.filePath) {
  const stats = fs.statSync(post.filePath);
  lastModDate = stats.mtime;
}
---

<BaseLayout pageTitle={post.data.title}>
  <article class="prose prose-slate">
    <header>
      <h1>{post.data.title}</h1>
      <div class="flex flex-row justify-between items-center">
        <ul class="list-none gap-2 text-sm">
          <li>
            Posted <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString()}
            </time>
          </li>

          {
            lastModDate && (
              <li>
                Updated
                <time datetime={lastModDate.toISOString()}>
                  {lastModDate.toLocaleDateString()}
                </time>
              </li>
            )
          }
        </ul>
        <ul class="flex flex-row gap-2 list-none">
          {
            tags?.map((tag) => (
              <li>
                <a
                  href={getLinkUrl(`/tags/${tag.url}`)}
                  class="inline-block px-3 py-1 text-sm font-medium text-slate-700 bg-slate-200 rounded-full no-underline hover:bg-slate-300 transition-colors"
                >
                  {tag.display}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </header>
    <div>
      <Content />
    </div>
  </article>
</BaseLayout>
