---
import type { Page } from "astro";

interface Props {
  page: Page<any>;
  num?: number;
}

const { page, num = 5 } = Astro.props;
const from = Math.max(1, page.currentPage - Math.floor(num / 2));
const to = Math.min(page.lastPage, from + num - 1);
const pages = Array.from({ length: to - from + 1 }, (_, i) => from + i);
const goToFirstPage = from != 1;
const goToLastPage = to != page.lastPage;
---

<ul class="navigation">
  {
    goToFirstPage && (
      <li class:list={["first", { active: page.currentPage === 1 }]}>
        <a href="/">|&lt;</a>
      </li>
    )
  }
  {
    pages.map((i) => {
      const isActive = page.currentPage == i;
      const isFirst = i == 1;
      const isLast = i == page.lastPage;
      const label = `${isFirst ? "|< " : ""}${i}${isLast ? " >|" : ""}`;
      return (
        <li class:list={["pages", { active: isActive }]}>
          {page.currentPage == i ? <span>{label}</span> : <a href={i.toString()}>{label}</a>}
        </li>
      );
    })
  }
  {
    goToLastPage && (
      <li class:list={["last", { active: page.currentPage == page.lastPage }]}>
        <a href={page.url.last}>&gt;|</a>
      </li>
    )
  }
</ul>

<style>
  .navigation {
    display: block;
  }
  .navigation > li {
    display: inline-block;
    list-style: none;
    margin: 0.5rem 1rem;
    background-color: blanchedalmond;
  }
  .navigation > li > a, .navigation > li > span {
    display: inline-block;
    padding: 0.5rem 1rem;
  }
  .navigation > li.active {
    background-color: grey;
  }
</style>
